*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7%;
	background: hsl(0, 100%, 74%) url('./images/bg-intro-desktop.png');
	font-family: sans-serif;
	font-size: 16px;
}
main{
	display: flex;
	align-items: center;
}
.left, .right{
	margin: 2%;
	width: 46%;
}
h1{
	font-size: 56px;
	margin-bottom: 4%;
	color: hsl(0, 0%, 100%);
}
.left > p{
	margin-top: 2%;
	color: hsl(0, 0%, 100%);
}
.right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
}
.ad{
	padding: 0.8em 1em;
	background: hsl(248, 32%, 49%);
	text-align: center;
	color: hsl(0, 0%, 100%);
	margin-bottom: 3%;
	border-radius: 0.5em;
}
.ad span{
	font-weight: 700;
}
form{
	height: 80%;
	background: hsl(0, 0%, 100%);
	padding: 4%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5em;
}
input, button{
	width: 400px;
	height: 50px;
	margin-bottom: 5%;
	font-weight: 600;
	padding: 2%;
	border-radius: 0.5em;
	border: 1px solid hsl(246, 25%, 77%);
}
input:focus{
	border: 1px solid hsl(249, 10%, 26%);
}
button{
	background: hsl(154, 59%, 51%);
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
	font-size: 1em;
}
form > p{
	font-size: 0.7em;
	color: hsl(246, 25%, 77%);
	text-align: center;
}
form > p a{
	color: hsl(0, 100%, 74%);
	font-weight: 600;
}


@media screen and (max-width: 768px){
	body{
		background: hsl(0, 100%, 74%) url('./images/bg-intro-mobile.png');
	}
	main{
		flex-direction: column;
	}
	.left, .right{
		width: 100%;
	}
	h1{
		font-size: 36px;
		text-align: center;
	}
	.left > p{
		text-align: center;
		line-height: 24px;
	}
	.ad{
		padding: 1.8em 1em;
	}
	form{
		height: 100%;
		padding: 4%;
	}
	input, button{
	width: 300px;
}
}